* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --set-clr: rgb(97, 190, 230);
  --change-clr: rgb(61, 154, 197);
  --bg-set-clr: rgb(255, 255, 255);
  --post-clr: rgba(226, 245, 252, 0.571);
  --btn-clr: rgba(0, 0, 0, 0.806);
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.content-set {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.contents {
  width: max-content;
  /* background-color: rgb(237, 253, 255); */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.031);
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;
}
.contents-pass {
  height: 600px;
  margin-top: 2rem;
  overflow-y: scroll;
}
.image-set {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
  object-fit: cover;
}
.information-container {
  width: 30em;
}
.content-show-btn {
  width: 10em;
  height: 1.8rem;
  color: whitesmoke;
  background-color: var(--set-clr);
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  transition: 0.2s;
  cursor: pointer;
}
.content-show-btn:hover {
  background-color: var(--change-clr);
}
.info-heading {
  margin-bottom: 0.5rem;
}
.form-container {
  width: 100%;
  height: 100vh;
  /* background: url("../images/bg.png"); */
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.031);
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.form-heading {
  color: rgba(0, 0, 0, 0.832);
  position: absolute;
  top: 2rem;
}
input {
  width: 85%;
  height: 1.7rem;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 1.5rem;
}
input[type="file"]{
  width: 85%;
  opacity: 0;
}
.file-input-container{
  width: 85%;
  height: max-content;
  background-color: rgba(0, 177, 212, 0.025);
  border: 1px solid rgba(0, 0, 0, 0.249);
  border-radius:8px ;
  position: relative;
  cursor: pointer;
}
form button {
  width: 85%;
  height: 2rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}
form button:hover {
  background-color: rgb(46, 46, 46);
}

.button {
  width: 100px;
  height: 2rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}
.file-input-holder{
  width: 100%;
  font-size: x-small;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 40%;
}

/* user data for adm*/
.user-data-table {
  width: 95%;
  height: 400px;
  background-color: var(--bg-set-clr);
  margin-top: 0rem;
  padding: 0rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
/* .user-data-table ul{
  border:  1px dotted black;
} */
.user-data-table ul li {
  width: 20rem;
  height: 3rem;
  list-style: none;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.82);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 2rem 0;
}
.user-data-table ul li::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  transition: 0.4s;
}
.user-data-table ul li:hover::after {
  background-color: rgba(1, 47, 61, 0.112);
}

li .delete-user {
  color: white;
  background-color: rgba(234, 35, 35, 0.856);
  width: 2rem;
  height: 1.5rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  z-index: 4;
}
.table-head {
  width: 500px;
  height: 3rem;
  color: var(--set-clr);
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  position: absolute;
  top: 0;
}
.list-head {
  width: 200px;
  height: 3rem;
  color: whitesmoke;
  background-color: rgb(2, 75, 109);
  margin-inline: 9rem;
  margin-bottom: 6rem;
  padding-inline: 20px;
}
/* create post section */
.create-post-container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-set-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-container {
  width: 50%;
  height: 430px;
  background-color: var(--bg-set-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.082);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.post-container input {
  margin-bottom: 1rem;
}
input:focus {
  outline: none;
}
.post-input-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.post-heading {
  color: rgba(0, 0, 0, 0.687);
  position: absolute;
  top: 2rem;
  text-transform: uppercase;
  font-size: 12px;
}
.post-container input {
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.153);
  padding-inline: 1rem;
  border-radius: 8px;
}
.post-content-input {
  width: 85%;
  height: 10rem;
  padding-inline: 1rem;
  padding-top: 1rem;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 10px;
}

.post-content-input:focus {
  outline: none;
}
.post-content-input::-webkit-scrollbar {
  width: 0;
}
.button-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.button-container button {
  width: 8rem;
  height: 2rem;
  color: var(--btn-clr);
  background-color: transparent;
  margin-right: 6rem;
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  z-index: 3;
  font-weight: 650;
  overflow: hidden;
}
.button-container button::after {
  content: "";
  width: 0;
  height: 100%;
  color: white;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: -1;
}
.button-container button:hover {
  color: white;
}
.button-container button:hover::after {
  width: 100%;
  background-color: var(--btn-clr);
}
.file-input {
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* create post section end*/

/*  like button */
.like-btn-container {
  margin-top: 1rem;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
  border: none;
  cursor: pointer;
}
.like-btn {
  width: 1.3rem;
  padding: 1px;
}
.like-btn-container:hover .like-btn {
  scale: 1.3;
}

/* like button end */

/* error style */
.error-text {
  width: 90%;
  font-size: x-small;
  color: red;
  margin-top: 3rem;
  text-align: center;
}

/* error style end  */

/* not logged content */
.not-log-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.not-log-container button {
  position: absolute;
  top: 38%;
}
.not-log-container h1 {
  position: absolute;
  top: 30%;
  font-size: medium;
}
.not-log-container button {
  width: 200px;
  height: 2rem;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.not-log-container button a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* end not logged */

/* create post set  */
.add-post-container {
  width: max-content;
  background-color: rgb(240, 22, 22);
}

.Create-post-btn {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  color: white;
  background-color: var(--set-clr);
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Create-post-btn:hover {
  scale: 1.1;
}
.Create-post-btn a {
  color: rgb(255, 255, 255);
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 30px;
}



/*  create post end */

@media screen and (width <= 600px) {
  .content-set {
    width: 100vw;
  }
  .contents-pass {
    height: 100vh;
  }
  .Create-post-btn {
    right: 1rem;
    bottom: 1.5rem;
    background-color: var(--set-clr);
  }
  .content-set {
    width: 80vw;
    padding-inline: 5rem;
    margin-inline: 3rem;
  }
  .contents {
    width: 100vw;
    margin-inline: 1rem;
  }
  .create-post-container {
    width: 100vw;
  }
  .post-container {
    width: 90vw;
  }
}

/* like count */
.like-count {
  margin-left: 10px;
  font-weight: 600;
}

.user-name {
  margin-left: 1rem;
  font-weight: 100;
  font-size: x-small;
}
.user-name span {
  font-size: small;
}

.date-section {
  font-size: xx-small;
}

.error-notify {
  font-weight: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content-set {
  position: relative;
}
.loader {
  width: 100px;
  height: 100px;
  border: 10px solid rgb(255, 255, 255);
  border-top: 10px dotted rgb(2, 175, 255);
  border-radius: 50%;
  font-weight: 100;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  animation: animate 2s infinite ease;
}




@keyframes animate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
